# Actividad 5 - Módulo 3
#### Autor: Nicolás Núñez

### Ejercicio 1
Crea un DataFrame con datos de ventas por producto y región.
Utiliza multi-índices para representar la información por año y
trimestre. Luego, calcula la suma de ventas por trimestre para
cada producto.

In [6]:
# Librerias requeridas
import pandas as pd

# Creación DataFrame
ventas = {
    'Año' : [2022, 2022, 2023, 2023, 2023, 2024, 2024],
    'Trimestre' : [2, 3, 2, 2, 3, 1, 1], 
    'Producto' : ["A", "B", "A", "A", "B", "A", "A"],
    'Region' : ["Norte", "Norte", "Sur", "Norte", "Este", "Oeste", "Sur"],
    'Venta' : [10, 15, 20, 5, 5, 8, 7]
}
ventas = pd.DataFrame(ventas)

# Asignación multi-indice
ventas.set_index(['Año', 'Trimestre', 'Producto', 'Region'], inplace=True)
print('Tabla de ventas original:')
display(ventas)

# Caluculo de ventas por trimestre de cada producto
print('Ventas por trimestre de cada producto:')
display(ventas.groupby(['Año', 'Trimestre', 'Producto']).sum())

Tabla de ventas original:

                                Venta
Año  Trimestre Producto Region
2022 2         A        Norte      10
     3         B        Norte      15
2023 2         A        Sur        20
                        Norte       5
     3         B        Este        5
2024 1         A        Oeste       8
                        Sur         7

Ventas por trimestre de cada producto:

                         Venta
Año  Trimestre Producto
2022 2         A            10
     3         B            15
2023 2         A            25
     3         B             5
2024 1         A            15

### Ejercicio 2
Tienes dos DataFrames: uno con información de clientes (ID,
nombre, dirección) y otro con sus pedidos (ID del cliente,
producto, cantidad). Realiza una combinación de datos para
obtener un DataFrame que muestre el nombre del cliente, su
dirección y los productos pedidos por cada cliente

In [7]:
# Librerias requeridas
import pandas as pd
import numpy as np

# Data frame clientes
print('Datos clientes:')
clientes = pd.DataFrame(
    {
        'ID': range(1, 4),
        'Nombre': ['Persona '+str(i) for i in range(1, 4)],
        'Direccion': ['Direccion '+str(i) for i in range(1, 4)]
    }
)
display(clientes)

# Data frame pedidos
print('Datos pedidos:')
np.random.seed(2)
pedidos = pd.DataFrame(
    {
        'ID': np.random.randint(1, 4, size=10),
        'Producto': ['Producto '+str(i) for i in np.random.randint(1,3,size=10)],
        'Cantidad': [i for i in np.random.randint(1, 11, size=10)]
    }
)
display(pedidos)

# Unión de Data Frame
consolidado = pd.merge(clientes, pedidos, on='ID', how='inner')

# Asignación multi indice
consolidado.set_index(['ID', 'Nombre', 'Direccion', 'Producto'], inplace=True)

# Suma por cantidad
print('Resumen pedidos por clientes:')
consolidado.groupby(['Nombre', 'Direccion', 'Producto']).sum()

Datos clientes:

   ID     Nombre    Direccion
0   1  Persona 1  Direccion 1
1   2  Persona 2  Direccion 2
2   3  Persona 3  Direccion 3

Datos pedidos:

   ID    Producto  Cantidad
0   1  Producto 1         4
1   2  Producto 1         8
2   1  Producto 1         7
3   3  Producto 2         2
4   3  Producto 2         4
5   1  Producto 2         6
6   3  Producto 1         9
7   2  Producto 1         5
8   2  Producto 1         7
9   3  Producto 2         4

Resumen pedidos por clientes:

                                  Cantidad
Nombre    Direccion   Producto
Persona 1 Direccion 1 Producto 1        11
                      Producto 2         6
Persona 2 Direccion 2 Producto 1        20
Persona 3 Direccion 3 Producto 1         9
                      Producto 2        10

### Ejercicio 3
Para una tarde de bingo se usarán tablas generadas con las
siguientes reglas:
- Los 5 números en cada columna son aleatorios ordenados no
repetidos de acuerdo al rango asignado por columna.
- La casilla central de la tabla tiene valor marcado cero o ‘libre’.

Realice un programa para generar una tabla de bingo.

In [8]:
# Funcion para escoger los numeros aleatorios

def aleatorio(n, a, b):
    """
    Función que dado:
        n, a, b (int) > 0
    retorna
        aleatorio (list) : Lista de numeros enteros aleatorios entre a y b con n elementos,
                             no repetidos y ordenados de manera creciente
    """
    from numpy import random

    return list(np.sort(random.choice(range(a, b+1), size=5, replace=False)))

In [12]:
# Script para la creación del bingo
from pandas import DataFrame
# Inicializacion del diccionario para la información
aux = [None]*5
bingo = {'B': aux, 'I': aux, 'N': aux, 'G': aux, 'O': aux}

# Llenado de las columnas
for i, key in enumerate(bingo.keys()):
    a = 1 + 15*i
    b = 15 + 15*i
    bingo[key] = aleatorio(4, a, b)

# Corrección valor central
bingo['N'][2] = 'Libre'

# Despliegue
bingo = DataFrame(bingo)
display(bingo)

    B   I      N   G   O
0   2  16     31  49  62
1   3  17     37  54  63
2   8  21  Libre  57  67
3   9  23     41  58  73
4  15  26     42  59  75